
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-tw" />
    <title>Fluorine - Spec</title>
    <script type="application/javascript" src="/library/jquery/jquery-min.js"></script>
    <script type="application/javascript" src="/library/underscore/underscore-min.js"></script>
    <script type="application/javascript" src="/build/fluorine/utils.js"></script>
    <script type="application/javascript" src="/build/fluorine/notifier.js"></script>
    <script type="application/javascript" src="/build/fluorine/process.js"></script>
    <script type="application/javascript" src="/build/fluorine/context.js"></script>

    <!-- For Testing -->
    <script type="application/javascript" src="/library/jasmine/jasmine.js"></script>
    <script type="application/javascript" src="/library/jasmine/jasmine-html.js"></script>
    <script type="application/javascript" src="/library/jasmine/jasmine-console.js"></script>
    <script type="application/javascript" src="/library/jasmine/jasmine-jquery.js"></script>

    <script type="application/javascript" src="/build/demo/spec.js"></script>

</head>
  <body>
  </body>
</html>
