
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-tw" />
    <title>Fluorine - RTC Test Case</title>
    <script src="https://www.webrtc-experiment.com/RTCPeerConnection-v1.5.js"></script>
    <script type="application/javascript" src="/library/jquery/jquery-min.js"></script>
    <script type="application/javascript" src="/library/underscore/underscore-min.js"></script>
    <script type="application/javascript" src="/build/fluorine/utils.js"></script>
    <script type="application/javascript" src="/build/fluorine/notifier.js"></script>
    <script type="application/javascript" src="/build/fluorine/process.js"></script>
    <script type="application/javascript" src="/build/fluorine/context.js"></script>
    <script type="application/javascript" src="/build/fluorine/rtc.js"></script>

    <script type="application/javascript" src="/build/demo/rtc.js"></script>
</head>
  <body>
  </body>
</html>
