
body
{
    background-color: #DDD;
}

#main
{
    text-align: center;
}

#queue-wrapper
{
    display:inline-block;
    min-width:1000px;
    &:after
    {
        clear: both;
    }
}

#queue-prev
{
    opacity: 0.6;
}

#queue-now
{
    opacity: 1.0;
}

#queue-next
{
    opacity: 0.6;
}

.queue
{
    height: 800px;
    float: left;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    background-color: white;
}

.queue-block 
{
    border: #DEDEDE 1px solid;
    border-radius: 5px;
    padding: 5px;
    height: 180px;

    .menubar
    {
        i
        {
            margin-left: 5px;
            opacity:0.6;
        }

        i.active
        {
            opacity: 1.0;
        }        

        text-align: right;

        .button
        {

            .active
            {
                opacity:1.0;
            }

            cursor: pointer;
            &.close
            {
                //background: url('/media/btn_close.png') no-repeat;
                //background-size: 15px 15px;
                display: inline-block;
                height: 15px;
                opacity: 0.6;
                width: 15px;
            }
        }
    }

    .content
    {
        border:none;
        font-size: 24pt;
        height: 135px;
        text-align: center;
        width: 100%;
    }

    .content:focus
    {
        outline: none;
    }

    .date
    {
        text-align:left;
        color: #555;
    }
}
