
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-tw" />
    <title>Fluorine Demo - Todo</title>
    <link rel="stylesheet/less" href="/style/main.less"/>
    <link rel="stylesheet" href="/library/twitter-bootstrap/css/bootstrap.min.css"/>

    <script src="/library/jquery/jquery-min.js"></script>
    <script src="/library/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="/library/underscore/underscore-min.js"></script>
    <script src="/library/less/less.min.js"></script>

    <script type="application/javascript" src="/library/jquery/jquery-min.js"></script>
    <script type="application/javascript" src="/library/underscore/underscore-min.js"></script>
    <script type="application/javascript" src="/build/fluorine/utils.js"></script>
    <script type="application/javascript" src="/build/fluorine/notifier.js"></script>
    <script type="application/javascript" src="/build/fluorine/process.js"></script>
    <script type="application/javascript" src="/build/fluorine/context.js"></script>

    <script src="/build/demo/todo.js"></script>
</head>
  <body>
      <div class="subpage" id="main">
        <div id="queue-wrapper">
              <div id="queue-prev" class="queue">
              </div>
              <div id="queue-now" class="queue">
              </div>
              <div id="queue-next" class="queue">
              </div>
        </div>
      </div>
  </body>
</html>
